<!DOCTYPE html>
<html>
<head>
<title>文档的标题</title>
<meta charset="UTF-8">  
<link rel="stylesheet" href="/public/css/index.css" type="text/css" >
</head>
<body>
	<p id = 'auth'>这本书的名字是：#{auth}</p><br/>
	p 出版于2019年6月
</body>

</html>