<!DOCTYPE html>
<html>
<head>
<title>用户信息</title>
<meta charset="UTF-8">  
<link rel="stylesheet" href="/public/css/index.css" type="text/css" >
</head>
<body>
	<p id = 'auth'>用户名：#{name}</p><br/>
	p 时间2019年6月
</body>

</html>